<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @job.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @job.end_date %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Skills', job_skills_path(@job) %> |
<%= link_to 'Back', jobs_path %>
