<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @job.synopsis %>
</p>

<p>
  <strong>When:</strong>
  <%= @job.when %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Skills', job_skills_path(@job) %> |
<%= link_to 'Back', jobs_path %>
