<h1>Listing skills for Job <%= @job.title %> at <%= @job.company %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.group %></td>
        <td><%= link_to 'Show', job_skill_path(@job, skill) %></td>
        <td><%= link_to 'Edit', edit_job_skill_path(@job, skill) %></td>
        <td><%= link_to 'Destroy', job_skill_path(@job, skill), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', job_path(@job) %>
<%= link_to 'New Skill', new_job_skill_path(@job) %>
