<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @skill.job %>
</p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @skill.group %>
</p>

<%= link_to 'Edit', edit_job_skill_path(@job, @skill) %> |
<%= link_to 'Back', job_skills_path(@job) %>
