<section class='home-page'>   <!-- TODO: use id instead of class -->
  
  <% if current_user %>
    <h1 id='user-name'></h1>
    <h2 id='user-title'></h2>
    <p id='user-email' class='email'></p>
    <ul id='user-highlights'></ul>
  <% else %>
    <h1>Biodb</h1>

    <nav>
      <%= link_to 'sign in', new_session_path %>
      <%= link_to 'sign up', new_user_path %>
    </nav>
  <% end %>

</section>


<% if current_user %>
  <script>
    user = {
      id: "<%= current_user.id %>",
      name: "<%= current_user.name %>",
      title: "<%= current_user.title %>",
      email: "<%= current_user.email %>",
      highlights: "<%= (current_user.highlights || '').gsub(/\n/, '\n') %>"
    };
  </script>
<% end %>
