<section class='home-page'>   <!-- TODO: use id instead of class -->
  
  <% if current_user %>
    <h1 id='user-name'></h1>
    <h2 id='user-title'></h2>
    <p id='user-email' class='email'></p>
    <table id='user-highlights'></table>

      <table id='user-jobs'>
      <tr>
        <td class='job-info'>
          <p class='company-name'>Acme Software Inc.</p>
          <p class='date-range'>1999-2009</p>
          <p class='role'>Senior Developer</p>
        </td>
        <td class='task-info'>
          <ul class='task-list'>
            <li>wrote 10K unit tests</li>
            <li>refactored unit tests and reduced their number by 99%</li>
            <li>wrote 20K units tests</li>
            <li>managed the procurement of 18 Cray supercomputers</li>
            <li>aquired a hydro power generation plant</li>
            <li>C, C++, Assembler</li>
          </ul>
        </td>
      </tr>
    </table>
  <% else %>
    <h1>Biodb</h1>

    <nav>
      <%= link_to 'sign in', new_session_path %>
      <%= link_to 'sign up', new_user_path %>
    </nav>
  <% end %>

</section>


<% if current_user %>
  <script>
    user = {
      id: "<%= current_user.id %>",
      name: "<%= current_user.name %>",
      title: "<%= current_user.title %>",
      email: "<%= current_user.email %>",
      highlights: <%= (current_user.highlights.nil? ? 'null' : current_user.highlights.html_safe) %>          // TODO: see warning comment at http://stackoverflow.com/a/3758055
    };
  </script>
<% end %>
