<% if current_user %>

  <section class='user-info'>
    <h1 id='user-name'></h1>
    <h2 id='user-title'></h2>
    <p id='user-email' class='email'></p>  
  </section>

  <section class='user-highlights'>
    <table id='user-highlights'></table>
  </section>
  
  <section class='user-jobs'>
    <table id='user-jobs'></table>
  </section>

<% else %>
  <h1>Biodb</h1>

  <nav>
    <%= link_to 'sign in', new_session_path %>
    <%= link_to 'sign up', new_user_path %>
  </nav>
<% end %>


<% if current_user %>
  <script>
    user = {
      id: "<%= current_user.id %>",
      name: "<%= current_user.name %>",
      title: "<%= current_user.title %>",
      email: "<%= current_user.email %>",
      highlights: <%= (current_user.highlights.nil? ? '[]' : current_user.highlights.html_safe) %>,         // TODO: see warning comment at http://stackoverflow.com/a/3758055
      jobs: <%= (current_user.jobs.nil? ? '[]' : current_user.jobs.html_safe) %>
    };
  </script>
<% end %>
