<h1>Listing highlights</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @highlights.each do |highlight| %>
      <tr>
        <td><%= highlight.user %></td>
        <td><%= highlight.content %></td>
        <td><%= link_to 'Show', user_highlight_path(@user, highlight) %></td>
        <td><%= link_to 'Edit', edit_user_highlight_path(@user, highlight) %></td>
        <td><%= link_to 'Destroy', user_highlight_path(@user, highlight), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Highlight', new_user_highlight_path(@user) %>
