<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @highlight.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @highlight.content %>
</p>

<%= link_to 'Edit', edit_user_highlight_path(@user, @highlight) %> |
<%= link_to 'Back', user_highlights_path(@user) %>
