<!DOCTYPE html>
<html>
<head>
  <title>Biodb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header>
    <nav id='main-menu'>
      <ul>
        <li><%= link_to 'Biodb', home_url %></li>
        <% if current_user %>
          <li><%= link_to 'sign out', delete_session_path, :method => :delete %></li>
        <% end %>
      </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
